.add-book-container {
    background-color: "#fff";
    color: "";
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.add-book-container h2 {
    margin-bottom: 20px;
}

.add-book-container label {
    display: block;
    margin-bottom: 5px;
}

.add-book-container input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.add-book-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-book-container button:hover {
    background-color: #45a049;
}
